@import "tailwindcss";


:root {
    --main-color: #3490dc;
    --secondary-color: oklch(70% 0.2 250);
    --danger-color: #e3342f;
}

@theme {
    --color-primary: #1c3d5a;
    --color-secondary: #fbbf24;
    --color-accent: #10b981;
}

.canvas {
    @apply h-96  bg-(--secondary-color) rounded-lg shadow-lg;
}
/* h1{
    @apply text-3xl font-bold text-(--main-color);
} */