@import "tailwindcss";


:root {
    --main-color: #3490dc;
    --secondary-color: #ffed4a;
    --danger-color: #e3342f;
}

@theme {
    --color-primary: #1c3d5a;
    --color-secondary: #fbbf24;
    --color-accent: #10b981;
}

/* h1{
    @apply text-3xl font-bold text-(--main-color);
} */